*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* common selectors */

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.full-width{
    width: 100%;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
}

.container-1600{
    max-width:1600px;
    margin: 0 auto;
    padding-top: 5em;
}

.button{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: .3em 0;
}

.button.small{
    padding: 0.3em 0.8em;
    
}
.button.medium{
    padding: .3em 3.5em;
}
.equal-padding{
    margin-top: 2em;
}
ul{
    list-style: none;
}
.clearfix{
    content: "";
    display: table;
    clear:both;
}
.left{
    float: left;
}
.right{
    float:right;
}
h3{
    font-size: 2em;
}
.col-60{
    width: 60%;
}
.col-40{
    width: 40%;
}

.img{
    width:100%;
}

/* header section */

header{
    padding: 1.3em 1em;
    position: fixed;
    background-color: white;
    width:100%
}

.logo-container{
    display: inline-block;
}

.header-list{
    display: inline-block;
    margin: 0 2em;
}
.header-menu{
    width: calc(100% - 127px - 63.8px);
    margin: 0 auto;
    display: inline-block;
}

.header-list li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 2em;
}

.header-list a{
    color: black;
    text-decoration: none;
    padding: 26px 0;
}
.header-list a:hover{
    border-bottom: 2px solid rgb(109, 109, 109) ;
}

/* 1st section */

section:first-of-type{
    background-color: #b4d0e7;  
    font-size: 18px;
}

h1{
    font-size: 5em;
    margin-bottom: 0.6em;
}
.text{
    max-width: calc(30% - 7rem);
    margin-right: 7rem;
    min-width: 250px;
}
.img-big{
    max-width: 70%;
}
.img-big > img{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: -5rem;
}
.text p, .text .small-text{
    margin: 1em 0 2em;
}

.text > i{
    font-size: 2em;
    font-weight: 900;
}

/* sezione scelta piano business */

.checkbox{
    position: relative;
    padding-left: 1.2em;
    margin:3rem 1.5em 0 0;
}
.checkbox::before{
    content: " ";
    display: inline-block;
    min-width: 1em;
    height: 1em;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: 0px;
}
.checkbox:first-of-type::before{
    border: 4px solid rgb(0, 107, 194);
    box-sizing: border-box;
}

.vertical-container{
    width: calc(1200px / 3 - 50px);
    border: 1px solid black;
    margin: 1.5em 25px;
    display: inline-block;
}
.horizontal-container{
    width: calc(1200px - 50px);
    border: 1px solid black;
}

.container-card{
    margin: 0 -25px;
}
h2{
    font-size: 3em;
    margin: 2rem 0 ;
}
h4{
    font-size: 1.2rem;
}
.plan-card{
    padding: 0 1.5em;  
}
.plan-icon{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px 0;
}
.plan-list{
    width: 100%;
    margin: 1.5em 0;
}
.plan-list > i{
    vertical-align: middle;
    line-height: 21px;
    padding-right: .5em;
}
.fa-check{
    color: #1e73ff;
}
.card-list {
    width: calc(100% - 20px - 1em) ;
    vertical-align: middle;
}
.button-card{
    width: 100%;
    margin: 2em 0;
}
.plan-card{
    border-bottom: 1px solid black;
}
.card-cta{
    margin-bottom: 4.5em;
}
.underline{
    border-bottom: 1px solid rgb(119, 119, 119);
    padding-bottom: 2em;
}
.singolo:last-child{
    margin-bottom: 11em;
}
.premium:last-child{
    margin-bottom: 7em;
}
.row{
    width: 100%;
}
.row > *{
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.horizontal-container p{
    margin: 1.5em 0;
}
/* sezione testo */

.description{
    padding: 0 2em;
    font-size: 18px;
}

.button.small.partner{
    color:black;
    background-color: white;
    border: 1px solid black;
    margin-top: 1em;
}
.feature{
    width: calc(100% / 3 - 50px);
    margin: 0 25px 5em;

}
/* sezione features */
.important-text{
    text-decoration: underline;
}
/* sezione aziende partner */

.square-box{
    width: 30%;
    /* padding-bottom: 30%; */
}
.square{
    width: 50%;
    padding-bottom: 50%;
    position: relative;
}
.special-square{
    width: 90%;
    padding-bottom:90%;
    background-color: #a2d39b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.svg-logo{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);

}
.bordeaux{
    background-color: #61082b;

}
.lightblue{
    background-color: #0093ce;
}
.green{
    background-color: #d0e9cd;
}
.red{
    width: 50%;
    padding-bottom: 50%;
    background-color: #ff1c1c;
}
.other-red{
    background-color: #d5001f;
}
.sky{
    background-color: #b4d0e7;
}
.blue{
    background-color: #0d2481;
}
.yellow{
    background-color: #ffd830;
}
.container-st{
    background-color: #f5f5f5;
    width: 40%;
    padding-bottom: 30%;
    position: relative;
}
.statement{
    padding: 3em 3em 0;
    position: absolute;
    top:0;
    left:0;
    max-height: 100%;
    overflow: scroll;
}
.special-logo{
    width: 30%;
}
/* sezione cta*/

section.full-width{
    background-color: #b4d0e7;
}
.purple{
    color:#61082b;
    padding-bottom: 7rem;
    vertical-align: middle;
    margin-top: -3rem;
}

.white{
    vertical-align: middle;
    background-color: white;
    color: black;
}
/* sezione FAQ */


.faq{
    border-top: 1px solid #dcdcde;
    
    width: 100%;
}
.question{
    font-weight: bold;
    line-height: 6rem;
}

.fa-angle-down{
    line-height: 6rem;
}
.faq:last-of-type{
    border-bottom: 1px solid #dcdcde;
}